@import "../../spacing.less";

.image-links-centered {
    text-align: center;
    @imageLinkWidth: 270px;
    max-width: 3 * @imageLinkWidth;
    margin-left: auto;
    margin-right: auto;
}

.api-overview-sections .external-docs {
    text-align: center;
    margin: @doubleSpacing 0;
}